@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Satisfy&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #0b1014;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.satisfy {
  font-family: 'Satisfy', cursive;
}
